.login-container {
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4aaf47e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    
}

.login-form label {
    margin-bottom: 8px;
    color: #555;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #8501c2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #8501c2;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #8501c2;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

body{
    background-color: rgb(255, 255, 255);
}